.container
  br
  md-content(layout="row" layout-padding layout-align="center center")

      form(name='form', ng-submit='vm.login(form)', novalidate='')
        md-input-container
          label Email
          input(type='email', name='email', ng-model='vm.user.email')
        md-input-container
          label Password
          input(type='password', name='password', ng-model='vm.user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
            | Please enter your email and password.
          p.help-block {{ vm.errors.login }}

        div(layout="row" layout-align="center center")
          md-button.md-raised.md-primary(type='submit')
            | Login
  hr