md-dialog(aria-lable="room details")
    form
        md-toolbar
            .md-toolbar-tools
                h2 Room {{roomDetailsDialogCtrl.room.name}} details
                span(flex)
                md-button.md-icon-button(ng-click="roomDetailsDialogCtrl.cancel()")
                    ng-md-icon(icon="close" style="fill:white")
        md-dialog-content
            md-tabs(md-dynamic-height md-border-bottom)
                md-tab(label="add usage")
                    form(name="mannualAddReading")
                        div(layout="row" layout-align="end center")
                            md-datepicker(ng-model="roomDetailsDialogCtrl.manualRead.data" md-placeholder="Reading date")
                        md-content.md-padding
                            div(layout="column")
                                md-input-container
                                    label water
                                    input(ng-model="roomDetailsDialogCtrl.manualRead.waterUnit" required type="number" min="0")
                                md-input-container
                                    label electric
                                    input(ng-model="roomDetailsDialogCtrl.manualRead.electricUnit" required type="number" min="0")
                            div(layout="row" layout-align="center end")
                                md-button.md-raised.md-primary.md-block(type='submit' flex)
                                    | SAVE
                md-tab(label="usage history")
                    md-content.md-padding
                        md-tabs(md-dynamic-height md-border-bottom)
                            md-tab(label="water")
                                md-table-container
                                    table(md-table ng-model="roomDetailsDialogCtrl.histrory.water")
                                        thead(md-head)
                                            tr(md-row)
                                                th(md-column md-order-by="histrory.date")
                                                    span
                                                        | date
                                                th(md-column)
                                                    | usage unit
                                                th(md-column)
                                                    | image
                                        tbody(md-body)
                                            tr(md-row ng-repeat="histrory in roomDetailsDialogCtrl.histrory.water")
                                                td(md-cell) {{histrory.date}}
                                                td(md-cell) {{histrory.unit}}
                                                td(md-cell) {{histrory.image}}
                            md-tab(label="electricity")
                                md-table-container
                                    table(md-table ng-model="roomDetailsDialogCtrl.histrory.electricity")
                                        thead(md-head)
                                            tr(md-row)
                                                th(md-column md-order-by="roomDetailsDialogCtrl.histrory.electricity.date")
                                                    span 
                                                        | date
                                                th(md-column)
                                                    | usage unit
                                                th(md-column)
                                                    | image
                                        tbody(md-body)
                                            tr(md-row ng-repeat="histrory in roomDetailsDialogCtrl.histrory.electricity")
                                                td(md-cell) {{histrory.date}}
                                                td(md-cell) {{histrory.unit}}
                                                td(md-cell) {{histrory.image}}
                md-tab(label="set reading area")
                    md-tabs(md-dynamic-height md-border-bottom)
                        md-tab(label="water meter reader")
                            md-content.md-padding(flex)
                                div(layout="row" layout-align="space-between center")
                                    .cropArea(flex)
                                        ui-cropper(image="roomDetailsDialogCtrl.room.waterImage" area-type="rectangle" area-init-size="{w:roomDetailsDialogCtrl.cropper.cropWidth,h:roomDetailsDialogCtrl.cropper.cropHeight}" cropject="roomDetailsDialogCtrl.cropper" result-image="roomDetailsDialogCtrl.waterImageCropped" area-min-size="10")
                                    img(ng-src="{{roomDetailsDialogCtrl.waterImageCropped}}")
                                p x {{roomDetailsDialogCtrl.cropper.cropTop}} y {{roomDetailsDialogCtrl.cropper.cropLeft}} w {{roomDetailsDialogCtrl.cropper.cropWidth}} h {{roomDetailsDialogCtrl.cropper.cropHeight}}
                                div(layout="row" layout-align="center end")
                                    md-button.md-raised.md-primary.md-block(flex)
                                        | SAVE
                        md-tab(label="electricity meter reader")
                            md-content.md-padding
                                div(layout="row" layout-align="space-between center")
                                    .cropArea(flex)
                                        ui-cropper(image="roomDetailsDialogCtrl.room.electImage" area-type="rectangle" area-init-size="{w:roomDetailsDialogCtrl.cropper.cropWidth,h:roomDetailsDialogCtrl.cropper.cropHeight}" cropject="roomDetailsDialogCtrl.cropper" result-image="roomDetailsDialogCtrl.electImageCropped" area-min-size="10")
                                    img(ng-src="{{roomDetailsDialogCtrl.electImageCropped}}")
                                p x {{roomDetailsDialogCtrl.cropper.cropTop}} y {{roomDetailsDialogCtrl.cropper.cropLeft}} w {{roomDetailsDialogCtrl.cropper.cropWidth}} h {{roomDetailsDialogCtrl.cropper.cropHeight}}
                                div(layout="row" layout-align="center end")
                                    md-button.md-raised.md-primary.md-block(flex)
                                        | SAVE
                md-tab(label="setting")
                    md-content.md-padding
                        form(name="roomSetting" ng-submit='roomDetailsDialogCtrl.editDetails(roomSetting)')
                            div(layout="column")
                                p room status
                                md-radio-group(ng-model="roomDetailsDialogCtrl.editRoom.status" layout="row")
                                    md-radio-button(value="0") Available
                                    md-radio-button(value="1") Occupied
                                    md-radio-button(value="2") Reserved
                                md-input-container
                                    label name
                                    input(ng-model="roomDetailsDialogCtrl.editRoom.name" required type="text")
                                md-input-container
                                    label barcode water reader
                                    input(ng-model="roomDetailsDialogCtrl.editRoom.waterReader.barcode" type="text" pattern="[A-Za-z0-9]{16}")
                                md-input-container
                                    label barcode electric reader
                                    input(ng-model="roomDetailsDialogCtrl.editRoom.electricReader.barcode" type="text" pattern="[A-Za-z0-9]{16}")

                                md-switch(ng-model="roomDetailsDialogCtrl.readingControl.autoReading")
                                    | auto capture image every 6 hrs.
                                md-switch(ng-model="roomDetailsDialogCtrl.readingControl.ocr")
                                    | read number automatically

                                div(layout="row" layout-align="center end")
                                    md-button.md-raised.md-primary.md-block(type='submit' flex)
                                        | SAVE
                                