$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/stylus/index'


$icon-font-path = '../assets/fonts/bootstrap/'
@import '~bootstrap-styl/bootstrap/index';

// material design
@import '~angular-material/angular-material.min.css'
@import '~ui-cropper/compile/minified/ui-cropper.css'
//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

body
    height: initial
    position: relative
  
.md-dialog-container
  z-index : 1001

.md-datepicker-calendar-pane.md-pane-open
  z-index : 1002

// Component styles are injected through gulp
/* inject:styl */
@import 'admin/admin';
@import 'buildingList/buildingList';
@import 'main/main';
@import 'rooms/rooms';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */
